# Print Statement

In [7]:
print("Printing string")

Printing string

# Types of Variables

## Integer

In [8]:
a = 3
print(a)

3

In [9]:
b = 5
print(a + b)

8

In [10]:
print(a * b)

15

In [11]:
print(a // b)

0

## Floating Point Numbers

In [12]:
a = 3.
print(a)

3.0

In [13]:
b = 5.
print(a + b)

8.0

In [14]:
print(a * b)

15.0

In [15]:
print(a / b)

0.6

## String

In [16]:
a = "Hello"
b = "World"
print(a)

Hello

In [17]:
print(a + ' ' + b)

Hello World

In [18]:
print(a*4)

HelloHelloHelloHello

In [19]:
c = "hello"
print(c)

hello

In [20]:
print(c.capitalize())

Hello

In [21]:
print(c.upper())

HELLO

In [22]:
d = "WORLD"
print(d)

WORLD

In [23]:
print(d.lower())

world

In [24]:
print(d.capitalize())

World

In [25]:
print(d[3])

L

In [26]:
print(d[3:])

LD

In [112]:
print(d[2:4])

RL

In [113]:
print(d[::-1])

DLROW

In [114]:
print(d.find("D"))

4

In [115]:
print(d.find("z"))

-1

In [116]:
print(d.find("d"))

-1

In [117]:
print(d.find("LD"))

3

In [118]:
e = c + ' ' + d
print(e)

hello WORLD

In [119]:
print(e.split(' '))git

['hello', 'WORLD']

## List

In [120]:
a = [1, 2, 3, '4', 5.0, "Last"]
print(a)

[1, 2, 3, '4', 5.0, 'Last']

In [121]:
a[-1] = "This is last"
print(a)

[1, 2, 3, '4', 5.0, 'This is last']

In [122]:
a[1:]

[2, 3, '4', 5.0, 'This is last']

In [123]:
a[3]

'4'

In [124]:
len(a)

6

In [125]:
a[::-1]

['This is last', 5.0, '4', 3, 2, 1]

In [126]:
a.append("Really last")
print(a)

[1, 2, 3, '4', 5.0, 'This is last', 'Really last']

In [127]:
a.remove(1)
print(a)

[2, 3, '4', 5.0, 'This is last', 'Really last']

In [128]:
a.remove(1)
print(a)

ValueError: list.remove(x): x not in list

## Tuple

In [ ]:
a = (1, 2, 3, '4', 5.0, "Last")

In [ ]:
a[-1] = "This is last"

TypeError: 'tuple' object does not support item assignment

In [ ]:
a[1:]

(2, 3, '4', 5.0, 'Last')

In [ ]:
a[3]

'4'

In [ ]:
a.append(5)

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
a.remove(1)

AttributeError: 'tuple' object has no attribute 'remove'

In [ ]:
a

(1, 2, 3, '4', 5.0, 'Last')

## Set

In [ ]:
a = {1, 2, 3, '4', 5.0, "Last"}

In [ ]:
a.add(8)
a.1(8)

SyntaxError: invalid syntax (1317640109.py, line 2)

In [ ]:
a.add(1)
a

{1, 2, 3, '4', 5.0, 8, 'Last'}

In [ ]:
a.remove(2)
a

{1, 3, '4', 5.0, 8, 'Last'}

In [ ]:
a[1]

TypeError: 'set' object is not subscriptable

In [ ]:
a[::-1]

TypeError: 'set' object is not subscriptable

In [ ]:
a[3:]

TypeError: 'set' object is not subscriptable

In [ ]:
a.pop()

1

In [ ]:
a

{3, '4', 5.0, 8, 'Last'}

## Dictionary

In [ ]:
a = {"Hi": 1}

In [ ]:
a

{'Hi': 1}

In [ ]:
a['Hi']

1

In [ ]:
a.keys()

dict_keys(['Hi'])

In [ ]:
a.values()

dict_values([1])

In [ ]:
a["Teset"]

KeyError: 'Teset'

In [ ]:
a['Teset'] = 3
a

{'Hi': 1, 'Teset': 3}

In [ ]:
'Hi' in a

True

In [ ]:
'Asdad' in a

False

# Logical operators

In [ ]:
True and False

False

In [ ]:
True or False

True

In [ ]:
True + False

1

In [ ]:
True * False

0

In [ ]:
1 > 2

False

In [ ]:
2 > 1

True

In [ ]:
2 > 2

False

In [ ]:
2 >= 2

True

In [ ]:
2 <= 2

True

In [ ]:
2 == 2

True

In [ ]:
2 == 3

False

In [ ]:
2 != 3

True

In [ ]:
2 != 2

False

# If Elif and Else

In [ ]:
if True:
    print("here")
elif True:
    print("in elif")
else:
    print("In else")

here

In [ ]:
if False:
    print("here")
elif True:
    print("in elif")
else:
    print("In else")

in elif

In [ ]:
if False:
    print("here")
elif False:
    print("in elif")
else:
    print("In else")

In else

In [ ]:
if False:
    print("here")
elif True:
    print("in 1 elif")
elif True:
    print("in 2 elif")
else:
    print("In else")

in 1 elif

In [ ]:
if False:
    print("here")
elif False:
    print("in 1 elif")
elif True:
    print("in 2 elif")
else:
    print("In else")

in 2 elif